*.zip
hubert_logs.zip
switch_logs.zip
hubert_logs/*
results/*
scratch_notebooks/*
probing_scripts/*
logs_*
result_exploration.ipynb
*.csv
*.png
logs_01-28-2024
plots
logs_01-23-2024
logs_01-25-2024
logs/*
tmp_datasets
.vscode
scratch_work.ipynb
__pycache__
analysis/inspection/*
data
corpora
.gitignore.swp
analysis/QP1-Data-Analysis.pdf
analysis/QP1-Data-Analysis.Rmd
probe/configs/wav2vec2-base_switchboard_phones_accents.yaml
test.png
.gitignore
compress_codebase.sh
